.slider-container {
  width: 50%;
  margin-top: 100px;
}

app-slider {
  .thumb {
    height: 10px;
  }
}

.old {
  margin: 50px;
}

ang-slider {
  display: block;
  margin-top: 100px;
}

ang-slider.with-config::ng-deep {
  .ticks-container {
    top: -2px;

    .tick {
      height: 8px;
    }
  }
}
