<button (click)="onButtonClick()">Set position to 300</button>
<button (click)="onButtonClick2()">Show value2</button>
<button (click)="onButtonClick3()">Set value2 to 17</button>
<div class="slider-container">
  <ang-slider
    [value]="value"
    [getTooltipLabel]="getTooltipLabel"
    (change)="onChange($event)"
    (slide)="onSlide($event)"
  ></ang-slider>
</div>

<ang-slider
  [(value)]="value2"
  [config]="config1"
  [degree]="-45"
  ></ang-slider>

<ang-slider
  [config]="config1"
  [degree]="45"
></ang-slider>

<router-outlet></router-outlet>
